<%= form_for(@user, url: update_privacy_user_path, method: :patch) do |form| %>
  <div class="form-group">
    <%= form.check_box :private, id: 'privateSwitch' %>
    <%= form.label :private,  for: 'privateSwitch'%>
  </div>  
  <%= form.submit 'Update ' %>
<% end %>
